# Estructuras de datos en pandas

En este *notebook* exploraremos las dos principales estructuras de datos en *pandas*: *Series* y *DataFrames*

Algunos *shortcuts* útiles:
* tab --> ofrece sugerencias sobre funciones y atributos 
* shift + tab --> muestra la documentación 
* shift + enter --> run cell

Documentación de *pandas*:  http://pandas.pydata.org/pandas-docs/stable/

Para saber un poco más sobre la idea detrás de pandas: dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf

In [1]:
# Importamos pandas. Por comodidad (y convención) lo renombramos con "pd"
import pandas as pd

------

## Series

Las *Series* de *pandas* son arrays unidimensionales, donde cada elemento tiene un índice o una etiqueta (*label*) asociada

In [2]:
# Creamos una Series. Si no especificamos las etiquetas para sus elementos, pandas automáticamente asigna los índices
s1 = pd.Series([101, 102, 103, 104, 105, 106])
print('s1:'); print(s1)

s1:
0    101
1    102
2    103
3    104
4    105
5    106
dtype: int64

In [3]:
# También podemos indicar las etiquetas para cada uno de los elementos de la Series
s2 = pd.Series(data=[101,102,103,104,105,106], index=['a', 'b', 'c', 'd', 'e', 'f'])
print('s2:')
print(s2)

s2:
a    101
b    102
c    103
d    104
e    105
f    106
dtype: int64

In [4]:
# Podemos incluir varios tipos de datos en una misma Series:
s3 = pd.Series(data=[101,'cientodos',103,104,'cientocinco',106], index=['a', 'b', 'c', 'd', 'e', 'f'])
print('s3:\n'); print(s3)
# Notemos cómo el dtype es 'object' --> esto ocurre cuando se tienen tipos mixtos en una misma serie

s3:

a            101
b      cientodos
c            103
d            104
e    cientocinco
f            106
dtype: object

Hay varias maneras de acceder a los elemntos de una Series...

In [5]:
# Si queremos usar la etiqueta del elementos para obtener su valor:
print(s3['a'])
print(s3.loc['e'])

101
cientocinco

In [6]:
# Si queremos usar el ínidice posicional del elemento para acceder a su valor
print(s3[0])
print(s3.iloc[4]) # Ésta manera de obtener los valores será la que usaremos en los DataFrames
# Al igual que en numpy, los índices comienzan en 0

101
cientocinco

En lo anterior, usamos 'loc' y 'iloc' para acceder a los elementos. *loc* se emplea cuando queremos acceder a los valores con las etiquetas, mientras que *iloc* lo usamos cuando queremos acceder a los valores a partir de sus índices (posición en la Series)

In [7]:
# Para obtener el valor de varios elementos a la vez, se debe emplear una lista de elementos
print(s2.loc[['a', 'b']], '\n')
print(s2.iloc[[0,1]])

a    101
b    102
dtype: int64

a    101
b    102
dtype: int64

La mayoría de la operaciones que vimos en numpy también son válidas en pandas. Nos interesan particularmente las operaciones aritméticas y las que nos permiten filtrar elementos...

In [8]:
# Por ejemplo, multipliquemos y sumemos todos los elementos de una Series:
print(s2*100, '\n')
print(s2+s2)

a    10100
b    10200
c    10300
d    10400
e    10500
f    10600
dtype: int64

a    202
b    204
c    206
d    208
e    210
f    212
dtype: int64

-----

## DataFrames

Los *DataFrames* de *pandas* son estructuras de datos de dos dimensiones, donde cada elemento tiene dos etiquetas (renglón y columna) asociadas. La etiqueta correspondiente al renglón puede ser simplemente un índice. 

Normalmente los *DataFrames* se alimentan con datos que importamos de otro lugar (archivos csv, archivos txt, archivos JSON, APIs, etc.)

In [9]:
# Hay muchas maneras de crear DataFrames. En este ejemplo, crearemos un DataFrame a partir de un diccionario...

# Primero creamos dos Series
ser01 = pd.Series(data=[1,2,3], index=['alfa', 'beta', 'gamma'])
ser02 = pd.Series(data=[4,5, 6, 7], index=['alfa', 'dseta', 'delta', 'beta'])

# Creamos un diccionario usando las Series
d = {'uno': ser01, 
     'dos': ser02
    }

# Creamos un DataFrame usando el diccionario
df = pd.DataFrame(d)
display(df)

       uno  dos
alfa   1.0  4.0
beta   2.0  7.0
delta  NaN  6.0
dseta  NaN  5.0
gamma  3.0  NaN

Al igual que con las Series, las mayoría de las operaciones de NumPy también son válidas cuando estamos trabajando con DataFrames.